<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gallery - page</title>
{% load static  %}


<link rel= "stylesheet" href="{% static 'css/gallery.css'%}">



</head>
<body>
    <h1>Gallery Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum nihil temporibus sunt. Sit, accusantium est eos deleniti ipsa magnam harum vitae suscipit reiciendis, quia perspiciatis quis nesciunt, natus voluptatem in?
Rerum, quod distinctio, magni eveniet at porro asperiores corporis fugiat repellat, iure nostrum! Aspernatur, nostrum laudantium ratione illo delectus obcaecati, modi dolore nulla accusamus perferendis ullam asperiores, mollitia nam? Ducimus.
Iste temporibus, quam error saepe quod reiciendis quis libero ab eligendi, laboriosam, nemo quos nam perspiciatis placeat nobis quibusdam facere tempore vel veritatis necessitatibus enim? Hic culpa laborum numquam laboriosam?</p>

<img src="{% static 'images/img1.jpeg'  %}" alt="">

<img src="{% static 'images/img2.jpeg'  %}" alt="">

<img src="{% static 'images/img3.jpeg'  %}" alt="">

<img src="{% static 'images/img4.jpeg'  %}" alt="">

<img src="{% static 'images/img5.jpeg'  %}" alt="">





</body>
</html>