<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Mtaanistore</title>
{% load static  %}


</head>
<body>
    <h1>Welcome to Mtaanistore!</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem praesentium iusto magnam delectus velit corporis repellat quisquam. Eum eos, voluptatum quos magni atque aliquam voluptate distinctio minus quo dignissimos quod?
Voluptates, tenetur totam! Voluptas architecto atque laboriosam delectus, omnis nobis expedita fugiat nihil at. Hic quidem necessitatibus expedita, asperiores sequi magni quaerat? Laboriosam molestias repudiandae aperiam veniam sequi atque odio?
Repellat earum, impedit tenetur pariatur, recusandae sit, eius ad dolor illo laboriosam distinctio consequatur? Veniam libero voluptatum tenetur, cum illo nesciunt, veritatis natus magni aliquam eaque autem, accusamus laborum adipisci.</p>




<img src="{% static 'images/img1.jpeg'  %}" alt="">


</body>
</html>