<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - page</title>
{% load static  %}

<link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css' %}">

<script src="{%static 'bootstrap/js/bootstrap.min.js' %}"></script>


</head>
<body>
    
<h1 class="text-center text-danger">Services Offered at Mtaanistore</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae odit labore expedita quis, enim eos quisquam reiciendis sint inventore dicta similique hic nobis sed aperiam eius, modi cupiditate dignissimos! Odio.
Tempora magni perspiciatis officiis dolor! Repellendus odio quo nisi fugiat consectetur, doloremque delectus voluptatum iusto recusandae nihil iure similique dolore nulla molestiae inventore id vel? Ea dolor quidem dolore asperiores.
Ex molestias porro, sequi cupiditate quisquam velit sit consequuntur accusantium ipsum aspernatur ratione itaque voluptate quos optio rem voluptatibus, tempora nobis, enim esse assumenda iste fugiat commodi quidem. Dolores, molestias!</p>

<img src="{% static 'images/img1.jpeg'  %}" alt="">







</body>
</html>